html{
  background: black;
  color: #B4FFAE;
  font-size: 10pt;
  font-family: "pragmata tt", "pragmatapro", "courier new", "lucida console", monospace;
  line-height: 10pt;
}
p{
  margin: 0;
 padding: 0;
}
p.command:before{
  content: "guest@eqdw.net> ";
}
a{
  color: #96FF8C;
  font-size: 10pt;
  text-decoration: underline;
  font-family: "pragmata tt", "pragmatapro", "courier new", "lucida console", monospace;
  font-weight: bold;
}
a.stealth-link{
  color: #B4FFAE;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none;
}
