html{
  background: black;
  color: #B4FFAE;
  font-size: 10pt;
  font-family: "pragmata tt", "pragmatapro", "courier new", "lucida console" ,"monospace";
}

a{
  color: #96FF8C;
  font-size: 10pt;
  text-decoration: underline;
  font-family: "pragmata tt", "pragmatapro", "courier new", "lucida console", "monospace";
  font-weight: bold;
}
